<app-header></app-header>


<div *ngIf="itemInfo == null && error == null">
    Loading the item...
</div>

<app-alerts></app-alerts>

<div *ngIf="itemInfo != null">
    <div class="o-container o-container--xsmall">
        <div class="c-pagination">
          <div class="c-pagination__controls c-pagination__controls--backward">
            <button class="c-pagination__control u-color-white" (click)="firstItem()" *ngIf="itemIndex > 1"><i class="fa fa-fast-backward"></i></button>
            <button class="c-pagination__control u-color-white" (click)="previousItem()" *ngIf="itemIndex > 1"><i class="fa fa-chevron-left"></i></button>
          </div>
            <div style="display:inline;">
                {{itemIndex}} of {{totalSearchMatches}}
            </div>
          <div class="c-pagination__controls c-pagination__controls--forward">
            <button class="c-pagination__control u-color-white" (click)="nextItem()" *ngIf="itemIndex < totalSearchMatches"><i class="fa fa-chevron-right"></i></button>
            <button class="c-pagination__control u-color-white" (click)="lastItem()" *ngIf="itemIndex < totalSearchMatches"><i class="fa fa-fast-forward"></i></button>
          </div>
        </div>
    </div>
    <p>

    <div >
        <div *ngIf="itemInfo.mediaType == 'image'" >
            <a href="{{itemInfo.mediaUrl}}">
                <img class="o-image centered-image" src="{{itemInfo.slideUrl}}" />
            </a>
        </div>
        <div *ngIf="itemInfo.mediaType == 'video'" >
            <video class="o-image centered-image" controls autoplay src="{{itemInfo.mediaUrl}}" >
            </video>
        </div>

        <div class="o-container info-container" >
            <div class="o-grid">
                <div class="o-grid__cell">
                    <div class="o-grid">
                        <div class="result-set-info-text-left o-grid__cell c-text">
                            <i class="fa fa-file"></i> {{itemInfo.imageName}}
                        </div>
                        <div class="result-set-info-text-left o-grid__cell c-text">
                            <i class="fa fa-tags"></i> {{itemInfo.keywords}}
                        </div>
                    </div>

                    <div class="o-grid">
                        <div class="result-set-info-text-left o-grid__cell c-text">
                            <i class="fa fa-folder"></i> {{itemInfo.path}}
                        </div>
                        <div class="result-set-info-text-left o-grid__cell c-text">
                            <a *ngIf="hasLocation()" [routerLink]="['/bylocation']" [queryParams]="{ lat:itemInfo.latitude, lon:itemInfo.longitude }">
                                <i class="fa fa-map-marker"></i> {{itemInfo.locationName}}
                            </a>
                        </div>
                    </div>

                    <div class="o-grid">
                        <div class="result-set-info-text-left o-grid__cell c-text">
                            <a [routerLink]="['/byday']" [queryParams]="{ m:displayer.itemMonth(itemInfo), d:displayer.itemDay(itemInfo) }">
                                <i class="fa fa-calendar"></i> {{displayer.getItemLocaleDateAndTime(itemInfo)}}
                            </a>
                        </div>
                        <div class="result-set-info-text-left o-grid__cell c-text">
                            <a *ngIf="hasLocation()" href="http://maps.google.com/maps?q={{itemInfo.latitude}},{{itemInfo.longitude}}">
                                <i class="fa fa-map"></i> {{displayer.latDms(itemInfo)}}, {{displayer.lonDms(itemInfo)}}
                            </a>
                        </div>
                    </div>
                </div>

                <div class="o-grid__cell o-grid__cell--width-20">
                    <div class="map-content" id="singleMap" >
                    </div>
                </div>
            </div>

            <div *ngIf="itemInfo.locationDisplayName" class="full-location-name">
                <i class="fa fa-map-pin"></i> Location name: {{itemInfo.locationDisplayName}}
            </div>
            <div *ngIf="itemInfo.tags"class="full-location-name" >
                <i class="fa fa-server"></i> Automatic tags: {{itemInfo.tags.sort().join(', ')}}
            </div>
        </div>
    </div>

    <div *ngIf="itemInfo.warnings != undefined">
        <br>
        <div class="c-card c-card--secondary warnings-container">
            <div class="c-card__content c-card__content--divider">Warnings</div>
            <div class="c-card__content c-alert c-alert--warning" *ngFor="let warning of itemInfo.warnings">{{warning}}</div>
        </div>
    </div>

    <div class="o-container o-container--xsmall">
        <div class="c-pagination">
          <div class="c-pagination__controls c-pagination__controls--backward">
            <button class="c-pagination__control u-color-white" (click)="firstItem()" *ngIf="itemIndex > 1"><i class="fa fa-fast-backward"></i></button>
            <button class="c-pagination__control u-color-white" (click)="previousItem()" *ngIf="itemIndex > 1"><i class="fa fa-chevron-left"></i></button>
          </div>
            <div style="display:inline;">
                {{itemIndex}} of {{totalSearchMatches}}
            </div>
          <div class="c-pagination__controls c-pagination__controls--forward">
            <button class="c-pagination__control u-color-white" (click)="nextItem()" *ngIf="itemIndex < totalSearchMatches"><i class="fa fa-chevron-right"></i></button>
            <button class="c-pagination__control u-color-white" (click)="lastItem()" *ngIf="itemIndex < totalSearchMatches"><i class="fa fa-fast-forward"></i></button>
          </div>
        </div>
    </div>

    <div *ngIf="itemInfo" class="camera-and-media-info" >
        <div class="camera-and-media-info-item">{{itemInfo.cameramake}} {{itemInfo.cameramodel}}</div>
        <div *ngIf="itemInfo.lensinfo" class="camera-and-media-info-item">, {{itemInfo.lensinfo}}</div> <br>
        <div *ngIf="itemInfo.fnumber && itemInfo.fnumber != 0" class="camera-and-media-info-item">ƒ/{{itemInfo.fnumber}}, </div>
        <div *ngIf="itemInfo.exposuretimestring" class="camera-and-media-info-item">{{itemInfo.exposuretimestring}} s, </div>
        <div *ngIf="itemInfo.focallength" class="camera-and-media-info-item">{{itemInfo.focallength}} mm, </div>
        <div *ngIf="itemInfo.iso" class="camera-and-media-info-item">ISO {{itemInfo.iso}} </div>
        <div *ngIf="itemInfo.durationseconds" class="camera-and-media-info-item">Video duration: {{itemInfo.durationseconds}} seconds</div>
    </div>

    <br>
    <div class="c-text media-source-header" *ngIf="!showMediaSource" >
        <div (click)="toggleMediaSource()"> 
            <i class="fa fa-cogs fa-2x"></i> 
            <div class="media-source-message"> Full document source </div>
            <i class="fa fa-caret-right filter-toggle-glyph fa-2x"> </i>
        </div>
    </div>

    <div class="c-text media-source-header" *ngIf="showMediaSource" >
        <div (click)="toggleMediaSource()"> 
            <i class="fa fa-cogs fa-2x"></i> 
            <div class="media-source-message"> Full document source </div>
            <i class="fa fa-caret-down filter-toggle-glyph fa-2x"></i>
        </div>

        <div class="o-container o-container--large">
            <div class="o-grid c-text media-source-table-header" >
                <div class="o-grid__cell--width-20 media-source-name"> Field name </div>
                <div class="o-grid__cell media-source-value">Value</div>
            </div>
            <div class="o-grid c-text media-source media-source-row" *ngFor="let nv of mediaSource">
                <div class="o-grid__cell--width-20 media-source-name"> {{nv.name}} </div>
                <div class="o-grid__cell media-source-value ">{{nv.value}}</div>
            </div>
        </div>
    </div>

    <br *ngIf="nearbyResults != null || sameDateResults != null">

    <div style="text-align:center">
        <span *ngIf="nearbyResults != null" >
            <hr>
            <div class="singleitem-extra_title">Nearby items</div>
            <figure style="display:inline-block;" *ngFor="let item of nearbyResults">
                <div id="thumbnail">
                    <a [routerLink]="['/bylocation']" [queryParams]="{ lat:item.latitude, lon:item.longitude }">
                        <img src="{{item.thumbUrl}}">
                    </a>
                </div>

                <figcaption *ngIf="item.distancekm == 0"> Same location</figcaption>
                <figcaption *ngIf="item.distancekm > 0 && item.distancekm < 1.0"> Distance: {{(item.distancekm * 1000).toFixed(0)}} meters</figcaption>
                <figcaption *ngIf="item.distancekm >= 1.0"> Distance: {{item.distancekm.toFixed(2)}} KM</figcaption>
            </figure>
        </span>

        <div *ngIf="nearbySearchResultsProvider.serverError != null" >
            <br>
            <h2 class="server-error">{{nearbySearchResultsProvider.serverError}}</h2>
        </div>

        <span *ngIf="sameDateResults != null" >
            <hr>
            <div class="singleitem-extra_title">Items with the same month & day</div>
            <figure style="display:inline-block;" *ngFor="let item of sameDateResults">
                <div id="thumbnail">
                    <a [routerLink]="['/byday']" [queryParams]="{ m:displayer.itemMonth(item), d:displayer.itemDay(item) }">
                        <img src="{{item.thumbUrl}}">
                    </a>
                </div>

                <figcaption> {{item.city}} ({{displayer.itemYear(item)}}) </figcaption>
            </figure>
        </span>

        <div *ngIf="bydaySearchResultsProvider.serverError != null" >
            <br>
            <h2 class="server-error">{{bydaySearchResultsProvider.serverError}}</h2>
        </div>
    </div>

</div>
