a{color: white;}
a:visited{
    color:white;
}
.selected {
  background-color: #CFD8DC !important;
  color: #000;
}
.centered-image {
    display: block;
    margin: 0 auto;
}
.singleitem-extra_title {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
    color: #FFF;
}

.info-container {
    max-width:78em;
}

.warnings-container {
    background-color:#202020;
}

.camera-and-media-info {
    margin-left: 10px;
}
.camera-and-media-info-item {
    display: inline;
}
@media (max-width: 1024px){
    .info-container {
        max-width:64em;
    }
}

@media (max-width: 740px){
    .info-container {
        max-width:30em;
    }
}

.result-set-info-text-left {
	color:white;
	text-align: left;
	padding:0 0 0 3px;
    margin-left: 10px;
}
.result-set-info-text-right {
	color:white;
	text-align: right;
	margin:0 0 0 10px;
	padding:0 3px 0 0;
}
.map-content {
    width: 200px;
    margin-top: 1px;
    min-width: 200px;
    max-width: 200px;
    height: 130px;
    min-height: 130px;
    max-height: 130px;
}