# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
indexer/indexer.log
indexer/indexer
tools/tools
findaphotoserver/content/node_modules
findaphotoserver/content/typings
npm-debug.log
app/*.js
app/*.js.map
findaphotoserver/findaphotoserver
