<div class="o-container o-container--medium" *ngIf="searchResultsProvider.totalPages > 1">
    <div class="c-pagination">

      <div class="c-pagination__controls c-pagination__controls--backward" *ngIf="currentPage > 1">
        <button class="c-pagination__control u-color-white" (click)="navigationProvider.firstPage()"><i class="fa fa-fast-backward"></i></button>
        <button class="c-pagination__control u-color-white" (click)="navigationProvider.previousPage()"><i class="fa fa-chevron-left"></i></button>
      </div>
      <div class="c-pagination__controls c-pagination__controls--backward" *ngIf="currentPage <= 1">
        <button class="c-pagination__control" disabled="true" (click)="navigationProvider.firstPage()"><i class="fa fa-fast-backward"></i></button>
        <button class="c-pagination__control" disabled="true" (click)="navigationProvider.previousPage()"><i class="fa fa-chevron-left"></i></button>
      </div>

      <div class="c-pagination__controls">
        <button class="c-pagination__page u-color-white" *ngIf="currentPage > 3" (click)="gotoPage(currentPage - 3)" >{{currentPage - 3}}</button>
        <button class="c-pagination__page u-color-white" *ngIf="currentPage > 2" (click)="gotoPage(currentPage - 2)" >{{currentPage - 2}}</button>
        <button class="c-pagination__page u-color-white" *ngIf="currentPage > 1" (click)="gotoPage(currentPage - 1)" >{{currentPage - 1}}</button>
        <button class="c-pagination__page c-pagination__page--current u-color-white">{{currentPage}}</button>
        <button class="c-pagination__page u-color-white" *ngIf="currentPage < totalPages" (click)="gotoPage(currentPage + 1)" >{{currentPage + 1}}</button>
        <button class="c-pagination__page u-color-white" *ngIf="currentPage < totalPages - 1" (click)="gotoPage(currentPage + 2)" >{{currentPage + 2}}</button>
        <button class="c-pagination__page u-color-white" *ngIf="currentPage < totalPages - 2" (click)="gotoPage(currentPage + 3)" >{{currentPage + 3}}</button>
      </div>

      <div class="c-pagination__controls c-pagination__controls--forward" *ngIf="currentPage < totalPages">
        <button class="c-pagination__control u-color-white" (click)="navigationProvider.nextPage()"><i class="fa fa-chevron-right"></i></button>
        <button class="c-pagination__control u-color-white" (click)="navigationProvider.lastPage()"><i class="fa fa-fast-forward"></i></button>
      </div>
      <div class="c-pagination__controls c-pagination__controls--forward" *ngIf="currentPage >= totalPages">
        <button class="c-pagination__control" disabled="true" (click)="navigationProvider.nextPage()"><i class="fa fa-chevron-right"></i></button>
        <button class="c-pagination__control" disabled="true" (click)="navigationProvider.lastPage()"><i class="fa fa-fast-forward"></i></button>
      </div>
    </div>
</div>
