<app-header></app-header>

<p style="margin-bottom:.5em;" >
<form *ngIf="uiState.showSearch == true">
    
    <div class="o-container o-container--large" >
        <div class="c-input-group">
            <div class="o-field">
                <input class="c-field" type="text" autofocus [(ngModel)]="_searchResultsProvider.searchRequest.searchText" [ngModelOptions]="{standalone: true}" >
            </div>
            <button class="c-button c-button--info" type="submit" (click)="userSearch()" >Search</button>
        </div>
    </div>
</form>


<app-alerts></app-alerts>

<div *ngIf="pageMessage != undefined">
    <div class="page-message">{{pageMessage}}</div>
</div>

<div *ngIf="pageSubMessage != undefined">
    <div class="sub-page-message">{{pageSubMessage}}</div>
</div>


<div *ngIf="typeLeftButtonText != undefined || typeRightButtonText != undefined">
    <button class="left-button c-button c-button--success" *ngIf="typeLeftButtonText != undefined" (click)="typeLeftButton()">
        <i class="{{typeLeftButtonClass}}" *ngIf="typeLeftButtonText != undefined"></i> {{typeLeftButtonText}}
    </button>
    <button class="right-button c-button c-button--success" *ngIf="typeRightButtonText != undefined" (click)="typeRightButton()">
        {{typeRightButtonText}} <i class="{{typeRightButtonClass}}" *ngIf="typeRightButtonText != undefined"></i>
    </button>
</div>


<div *ngIf="_searchResultsProvider.searchResults != null && _searchResultsProvider.searchResults.categories != null && _searchResultsProvider.searchResults.categories.length > 0" >
    <br>

    <div class="filter-panel" *ngIf="uiState.showFilters != true" (click)="uiState.toggleFilterPanel()"  >
        <div class="filter-toggle" > Filters <i class="fa fa-caret-right filter-toggle-glyph"></i> </div>
    </div>

    <div class="filter-panel" *ngIf="uiState.showFilters == true"  >
        <div class="filter-toggle" (click)="uiState.toggleFilterPanel()"> Filters <i class="fa fa-caret-down filter-toggle-glyph"></i> </div>

        <div id="containerLeft" class="filter-panel" >
            <div id="containerMiddle" class="filter-panel" >
                <div id="containerRight" class="filter-panel" >

                    <div *ngIf="_searchResultsProvider.categoryDate() != null" id="columnLeft" class="filter-panel" >
                        <app-category-tree-view [caption]=DatesCaption [category]=_searchResultsProvider.categoryDate()>
                        </app-category-tree-view>
                    </div>

                    <div *ngIf="_searchResultsProvider.categoryKeywords() != null" id="columnMiddle" class="filter-panel" >
                        <app-category-tree-view [caption]=KeywordsCaption [category]=_searchResultsProvider.categoryKeywords()>
                        </app-category-tree-view>
                    </div>

                    <div *ngIf="_searchResultsProvider.categoryPlacenames() != null" id="columnRight" class="filter-panel" >
                        <app-category-tree-view [caption]=LocationsCaption [category]=_searchResultsProvider.categoryPlacenames()>
                        </app-category-tree-view>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="fields-panel" *ngIf="uiState.showFields != true" (click)="uiState.toggleFieldsPanel()">
        <div class="fields-toggle"> Fields <i class="fa fa-caret-right filter-toggle-glyph"></i> </div>
    </div>

    <div class="fields-panel" *ngIf="uiState.showFields == true">
        <div class="fields-toggle" (click)="uiState.toggleFieldsPanel()"> Fields <i class="fa fa-caret-down filter-toggle-glyph"></i> </div>
        <div style="clear:both;" *ngIf="fieldsProvider.fields">
            <div class="field" *ngFor="let f of fieldsProvider.fields" (click)="populateFieldValues(f)">
                {{f}}
            </div>
        </div>
        <div class="fieldValuesContainer" *ngIf="fieldsProvider.nameWithValues != null" >
            <div class="c-alert c-alert--error" *ngIf="fieldsProvider.serverError != null" >
                Server error getting field values: {{fieldsProvider.serverError}}
            </div>

            <div *ngIf="fieldsProvider.values != null">
                <div *ngIf="fieldsProvider.values.length == 0">
                    <div> No values for '{{fieldsProvider.nameWithValues}}'</div>
                </div>
                <div *ngIf="fieldsProvider.values.length > 0">
                    <div> Top values for '{{fieldsProvider.nameWithValues}}'</div>
                    <div class="fieldValueInfo" *ngFor="let fv of fieldsProvider.values">
                        {{fv}}
                    </div>
                </div>
            </div>
        </div>

        <div style="clear:both;"></div>
    </div>
</div>



<div *ngIf="_searchResultsProvider.searchResults != null">
    <h2 class="search-results" *ngIf="uiState.showSearch == true && _searchResultsProvider.searchResults.totalMatches == 0">No matches were found for '{{resultsSearchText}}'</h2>

    <div class="search-results" *ngIf="uiState.showResultCount == true && _searchResultsProvider.searchResults.totalMatches > 0 && _searchResultsProvider.totalPages <= 1">
        Showing all {{_searchResultsProvider.searchResults.totalMatches}} items
    </div>

    <div class="search-results" *ngIf="uiState.showResultCount == true && _searchResultsProvider.searchResults.totalMatches > 0 && _searchResultsProvider.totalPages > 1">
        <b>{{_searchResultsProvider.totalPages}}</b> pages / <b>{{_searchResultsProvider.searchResults.totalMatches}}</b> matching items
    </div>

    <app-paging></app-paging>

    <div *ngIf="selectedCategories.length > 0" class="c-tags c-tags__container" >
        <button *ngFor="let scd of selectedCategories" type="button" class="c-button c-tag u-bg-brand" (click)="removeSelectedCategory(scd)">
            {{scd.value}}
            <span class="c-tag__close">×</span>
        </button>
    </div>

<!-- Waiting for sorting & filtering to be implemented  -->

    <!-- <div class="c-nav c-nav--inline" style="background-color:#202020;overflow=hidden;">
        <span class="c-nav__item" (click)="toggleSortMenu()">Sort by
            <span class="c-text--loud">{{sortMenuDisplayText}} <i class="fa fa-chevron-down"></i>
            </span>
            <div *ngIf="sortMenuShowing == true" class="o-container" style="position:relative">
                <div class="c-drawer c-drawer--top c-drawer--visible">
                  <ul class="c-menu">
                    <li class="c-menu__item" (click)="sortByDateNewest()">Date: Newest</li>
                    <li class="c-menu__item" (click)="sortByDateOldest()">Date: Oldest</li>
                    <li class="c-menu__item" (click)="sortByLocationAscending()">Location: A-Z</li>
                    <li class="c-menu__item" (click)="sortByLocationDescending()">Location: Z-A</li>
                    <li class="c-menu__item" (click)="sortByFolderAscending()">Folder: A-Z</li>
                    <li class="c-menu__item" (click)="sortByFolderDescending()">Folder: Z-A</li>
                  </ul>
              </div>
            </div>
        </span>

        <span class="c-nav__item" >Filters <i class="fa fa-chevron-down"></i>
        </span> -->

        <!-- <div class="c-tags" style="display:inline;">
            <button type="button" class="c-button c-button--small c-button--success c-tag" style="border-radius: 1em;">Jan 1, 2014
                  <span class="c-tag__close">×</span>
            </button>
            <button type="button" class="c-button c-button--small c-button--success c-tag" style="border-radius: 1em;">Seattle
                  <span class="c-tag__close">×</span>
            </button>
            <button type="button" class="c-button c-button--small c-button--success c-tag" style="border-radius: 1em;">mural
                  <span class="c-tag__close">×</span>
            </button>
        </div>
    </div> -->


    <div *ngFor="let group of _searchResultsProvider.searchResults.groups">
        <div style="clear:both;"></div>
        <br>
        <div class="result-set-container">
            <div *ngIf="uiState.showGroup" class="result-set-header">{{group.name}}
            </div>
            <div class="result-set-grid">
                <div class="result-set-item" *ngFor="let item of group.items; let itemIndex = index">

                    <div class="result-set-thumbnail">
                        <a [routerLink]="['/singleitem']" [queryParams]="singleItemSearchLinkParameters(item, itemIndex, group.resultIndex)">
                            <img src="{{item.thumbUrl}}" >
                        </a>
                    </div>

                    <div class="result-set-info">
                        <div class="o-grid">
                          <div class="result-set-info-text-left o-grid__cell c-text" >{{item.imageName}}</div>
                          <div class="result-set-info-text-right o-grid__cell c-text">
                              <a [routerLink]="['/bylocation']" [queryParams]="{ id:item.id, lat:item.latitude, lon:item.longitude }">
                                  {{item.city}}
                              </a>
                          </div>
                        </div>
                        <div class="o-grid">
                          <div class="result-set-info-text-left o-grid__cell c-text">
                              <a [routerLink]="['/byday']" [queryParams]="{ m:displayer.itemMonth(item), d:displayer.itemDay(item) }">
                                  {{displayer.getItemLocaleDate(item)}}
                              </a>
                          </div>
                          <div class="result-set-info-text-right o-grid__cell c-text">{{item.keywords}}</div>
                        </div>
                        <div class="o-grid" *ngIf="uiState.showDistance">
                            <div *ngIf="item.distancekm == 0"> Same location</div>
                            <div *ngIf="item.distancekm > 0 && item.distancekm < 1.0"> Distance: {{(item.distancekm * 1000).toFixed(0)}} meters</div>
                            <div *ngIf="item.distancekm >= 1.0"> Distance: {{item.distancekm.toFixed(2)}} KM</div>
                        </div>
                        <div class="o-grid" *ngIf="item.warnings != udefined">
                            <span class="c-badge c-badge--secondary">{{item.warnings.length}}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div style="clear:both;"></div>
    <br>
    <app-paging></app-paging>

</div>
<br>
