a{color: white;}
a:visited{
    color:white;
}
.result-set-container {
    margin-top: 0;
    padding-top: 0;
    margin-left: 5px;
	background-color: #282828;
}

.result-set-header {
	font-size: 2em;
	padding-left: 5px;
}

.result-set-grid {
	-webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	float:left;
	background-color: #282828;
    font-size:small;
    width: 100%;
}

.result-set-item {
	background: #484848;
    float:left;
    margin-bottom:10px;
    margin-right:10px;
    padding: 10px 10px 3px 10px;
}

.result-set-thumbnail {
    text-align:center;
}

.result-set-info {
	font-size:1.2em;
}

.result-set-info-text-left {
	color:white;
	text-align: left;
	padding:0 0 0 3px;
}

.result-set-info-text-right {
	color:white;
	text-align: right;
	margin:0 0 0 10px;
	padding:0 3px 0 0;
}

.search-results {
    text-align: center;
}

.page-message {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
    color: #FFF;
}

.left-button {
    margin-left: 5px;
}

.right-button {
    margin-right: 5px;
    float:right;
}


.filter-toggle {
    background-color: #2c3e50;
    cursor: pointer;
}

.filter-panel {
    background-color: #2c3e50;
	margin-bottom: 10px;
}

.filter-toggle-glyph {
    font-size:36px;
    vertical-align: -18%;
    margin-left: 20px;
}
#containerLeft {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
}
#containerMiddle {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:33.333%;
}
#containerRight {
	float:left;
	width:100%;
	position:relative;
	right:33.33%;
}
#columnLeft {
	float:left;
	width:29.33%;
	position:relative;
	left:68.67%;
	overflow:hidden;
}
#columnMiddle {
	float:left;
	width:29.33%;
	position:relative;
	left:72.67%;
	overflow:hidden;
}
#columnRight {
	float:left;
	width:29.33%;
	position:relative;
	left:76.67%;
	overflow:hidden;
}
