<app-header></app-header>

<p style="margin-bottom:.5em;" >
<form *ngIf="uiState.showSearch == true">
    <div class="o-container o-container--large" >
        <div class="c-input-group">
            <input class="c-field" type="text" autofocus [(ngModel)]="_searchResultsProvider.searchRequest.searchText" [ngModelOptions]="{standalone: true}" >
            <button class="c-button c-button--info" type="submit" (click)="userSearch()" >Search</button>
        </div>
    </div>
</form>


<app-alerts></app-alerts>

<div *ngIf="pageMessage != undefined">
    <div class="page-message">{{pageMessage}}</div>
</div>

<div *ngIf="pageSubMessage != undefined">
    <div class="sub-page-message">{{pageSubMessage}}</div>
</div>


<div *ngIf="typeLeftButtonText != undefined || typeRightButtonText != undefined">
    <button class="left-button c-button c-button--success" *ngIf="typeLeftButtonText != undefined" (click)="typeLeftButton()">
        <i class="{{typeLeftButtonClass}}" *ngIf="typeLeftButtonText != undefined"></i> {{typeLeftButtonText}}
    </button>
    <button class="right-button c-button c-button--success" *ngIf="typeRightButtonText != undefined" (click)="typeRightButton()">
        {{typeRightButtonText}} <i class="{{typeRightButtonClass}}" *ngIf="typeRightButtonText != undefined"></i>
    </button>
</div>


<!--  Categories aren't ready
    - open/collapse works in desktop Safari, but not Firefox or mobile Safari

<div *ngIf="searchResults != null && searchResults.categories != null && searchResults.categories.length > 0" >
    <br>

    <div id="main-filter-panel-closed" class="filter-panel" *ngIf="showFilters != true" (click)="toggleFilterPanel()"  >
        Filters &#x025BD;
    </div>

    <div id="main-filter-panel-opened" class="filter-panel" *ngIf="showFilters == true" (click)="toggleFilterPanel()" >
        Filters &#x025B3;

        <div id="containerLeft" class="filter-panel" >
            <div id="containerMiddle" class="filter-panel" >
                <div id="containerRight" class="filter-panel" >

                    <div *ngIf="categoryDate() != null" id="columnLeft" class="filter-panel" >
                        <category-tree-view [caption]=DatesCaption [category]=categoryDate()></category-tree-view>
                    </div>

                    <div *ngIf="categoryKeywords() != null" id="columnMiddle" class="filter-panel" >
                        <category-tree-view [caption]=KeywordsCaption [category]=categoryKeywords()></category-tree-view>
                    </div>

                    <div *ngIf="categoryPlacenames() != null" id="columnRight" class="filter-panel" >
                        <category-tree-view [caption]=LocationsCaption [category]=categoryPlacenames()></category-tree-view>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
-->


<div *ngIf="_searchResultsProvider.searchResults != null">
    <h2 class="search-results" *ngIf="uiState.showSearch == true && _searchResultsProvider.searchResults.totalMatches == 0">No matches were found for '{{resultsSearchText}}'</h2>

    <div *ngIf="uiState.showResultCount == true && resultCount > 0 && _searchResultsProvider.searchResults.resultCount == _searchResultsProvider.searchResults.totalMatches">
        Showing all {{_searchResultsProvider.searchResults.totalMatches}} items
    </div>

    <div *ngIf="uiState.showResultCount == true && _searchResultsProvider.searchResults.resultCount != _searchResultsProvider.searchResults.totalMatches">
        <b>{{_searchResultsProvider.totalPages}}</b> pages / <b>{{_searchResultsProvider.searchResults.totalMatches}}</b> matching items
    </div>

    <app-paging></app-paging>


<!-- Waiting for sorting & filtering to be implemented  -->

    <!-- <div class="c-nav c-nav--inline" style="background-color:#202020;overflow=hidden;">
        <span class="c-nav__item" (click)="toggleSortMenu()">Sort by
            <span class="c-text--loud">{{sortMenuDisplayText}} <i class="fa fa-chevron-down"></i>
            </span>
            <div *ngIf="sortMenuShowing == true" class="o-container" style="position:relative">
                <div class="c-drawer c-drawer--top c-drawer--visible">
                  <ul class="c-menu">
                    <li class="c-menu__item" (click)="sortByDateNewest()">Date: Newest</li>
                    <li class="c-menu__item" (click)="sortByDateOldest()">Date: Oldest</li>
                    <li class="c-menu__item" (click)="sortByLocationAscending()">Location: A-Z</li>
                    <li class="c-menu__item" (click)="sortByLocationDescending()">Location: Z-A</li>
                    <li class="c-menu__item" (click)="sortByFolderAscending()">Folder: A-Z</li>
                    <li class="c-menu__item" (click)="sortByFolderDescending()">Folder: Z-A</li>
                  </ul>
              </div>
            </div>
        </span>

        <span class="c-nav__item" >Filters <i class="fa fa-chevron-down"></i>
        </span> -->

        <!-- <div class="c-tags" style="display:inline;">
            <button type="button" class="c-button c-button--small c-button--success c-tag" style="border-radius: 1em;">Jan 1, 2014
                  <span class="c-tag__close">×</span>
            </button>
            <button type="button" class="c-button c-button--small c-button--success c-tag" style="border-radius: 1em;">Seattle
                  <span class="c-tag__close">×</span>
            </button>
            <button type="button" class="c-button c-button--small c-button--success c-tag" style="border-radius: 1em;">mural
                  <span class="c-tag__close">×</span>
            </button>
        </div>
    </div> -->


    <div *ngFor="let group of _searchResultsProvider.searchResults.groups">
        <div style="clear:both;"></div>
        <br>
        <div class="result-set-container">
            <div *ngIf="uiState.showGroup" class="result-set-header">{{group.name}}
            </div>
            <div class="result-set-grid">
                <div class="result-set-item" *ngFor="let item of group.items; let itemIndex = index">

                    <div class="result-set-thumbnail">
                        <a [routerLink]="['/singleitem']" [queryParams]="singleItemSearchLinkParameters(item, itemIndex, group.resultIndex)">
                            <img src="{{item.thumbUrl}}" >
                        </a>
                    </div>

                    <div class="result-set-info">
                        <div class="o-grid">
                          <div class="result-set-info-text-left o-grid__cell c-text" >{{item.imageName}}</div>
                          <div class="result-set-info-text-right o-grid__cell c-text">
                              <a [routerLink]="['/bylocation']" [queryParams]="{ id:item.id, lat:item.latitude, lon:item.longitude }">
                                  {{item.city}}
                              </a>
                          </div>
                        </div>
                        <div class="o-grid">
                          <div class="result-set-info-text-left o-grid__cell c-text">
                              <a [routerLink]="['/byday']" [queryParams]="{ m:displayer.itemMonth(item), d:displayer.itemDay(item) }">
                                  {{displayer.getItemLocaleDate(item)}}
                              </a>
                          </div>
                          <div class="result-set-info-text-right o-grid__cell c-text">{{item.keywords}}</div>
                        </div>
                        <div class="o-grid" *ngIf="uiState.showDistance">
                            <div *ngIf="item.distancekm == 0"> Same location</div>
                            <div *ngIf="item.distancekm > 0 && item.distancekm < 1.0"> Distance: {{(item.distancekm * 1000).toFixed(0)}} meters</div>
                            <div *ngIf="item.distancekm >= 1.0"> Distance: {{item.distancekm.toFixed(2)}} KM</div>
                        </div>
                        <div class="o-grid" *ngIf="item.warnings != udefined">
                            <span class="c-badge c-badge--secondary">{{item.warnings.length}}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div style="clear:both;"></div>
    <br>
    <app-paging></app-paging>

</div>
<br>
