a{color: green;}
a:visited{
    color:green;
}
.searchinput{
	width:80%;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	border:1px solid #0076a3; border-right:0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}
#singleimage{
    float:left;
    margin-top:4px;
    margin-right:4px;
    text-align:center;
    background: #282828;
}
.imageListInfoTable {
    width: 100%;
}
.imageListInfoTable tr{
    padding: 0px;
}
.imageListInfoTable td:first-child {
    text-align: left;
    padding: 0px 5px 0px 3px;
}
.imageListInfoTable td:first-child + td {
    text-align: right;
    padding: 0px 3px 0px 5px;
}
.server-error{
    color: #C00;
}
.search-results {
    display:inline;
    color: #CCC;
}
#paging{
    float: right;
    color: #CCC;
}
.section-header {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
    color: #FFF;
}

.numberCircle {
    display:inline-block;

    border-radius:50%;
    border:2px solid;

	color:#C00;
}
.numberCircle:before,
.numberCircle:after {
    content:'\200B';
    display:inline-block;
    line-height:0px;

    padding-top:50%;
    padding-bottom:50%;
}
.numberCircle:before {
    padding-left:8px;
}
.numberCircle:after {
    padding-right:8px;
}
