.searchinput{
	width:80%;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	border:1px solid #0076a3; border-right:0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}
.selected {
  background-color: #CFD8DC !important;
  color: #000;
}
#singleimage{
    float:left;
    margin-top:4px;
    margin-right:4px;
    text-align:center;
    background: #282828;
}
.imageListInfoTable {
    width: 100%;
}
.imageListInfoTable tr{
    padding: 0px;
}
.imageListInfoTable td:first-child {
    text-align: left;
    padding: 0px 5px 0px 3px;
}
.imageListInfoTable td:first-child + td {
    text-align: right;
    padding: 0px 3px 0px 5px;
}
