<div class="container" *ngIf="showSearch == true">
  <form>
      <a [routerLink]="['Search']"> Find A Photo:</a>
      <input type="text" class="searchinput" [(ngModel)]="searchRequest.searchText" ngControl="searchText" >
      <button type="submit" class="btn btn-default" (click)="userSearch()">Search</button>
  </form>
</div>

<div>
    <button class="btn" (click)="searchNearby()"> Nearby </button>
    <button class="btn" (click)="searchToday()"> Today </button>
    <br>
</div>

<div *ngIf="locationError != undefined">
    <h2 class="server-error">{{locationError}}</h2>
</div>

<div *ngIf="pageMessage != undefined" >
    <div class="section-header">{{pageMessage}}</div>
</div>

<div *ngIf="pageSubMessage != undefined" >
    <div class="sub-section">{{pageSubMessage}}</div>
</div>


<div *ngIf="typeLeftButtonText != undefined || typeRightButtonText != undefined" >
    <button *ngIf="typeLeftButtonText != undefined" class="btn" (click)="typeLeftButton()"> {{typeLeftButtonText}} </button>
    <button *ngIf="typeRightButtonText != undefined" class="btn" (click)="typeRightButton()"> {{typeRightButtonText}} </button>
</div>


<div *ngIf="showLinks == true" >
    <br>
    <a [routerLink]="['Search']"> Find A Photo </a>
</div>

<div *ngIf="serverError != undefined" >
    <br>
    <h2 class="server-error">{{serverError}}</h2>
</div>

<div *ngIf="searchResults != null">
  <br>
  <h2 class="search-results" *ngIf="showSearch == true && searchResults.totalMatches == 0" >No matches were found for '{{searchRequest.searchText}}'</h2>
  <h2 class="search-results" *ngIf="showSearch == true && searchResults.resultCount > 0 && searchResults.resultCount == searchResults.totalMatches" >Showing all {{searchResults.totalMatches}} items</h2>
  <h2 class="search-results" *ngIf="showSearch == true && searchResults.resultCount != searchResults.totalMatches" >Showing items {{searchRequest.first}} - {{searchRequest.first + searchResults.resultCount - 1}} out of {{searchResults.totalMatches}} total items</h2>


  <div id="paging" *ngIf="totalPages > 1" >
      <button (click)="previousPage()" *ngIf="currentPage > 1" class="page-button" >« Prev</button>
      Page {{currentPage}} of {{totalPages}}
      <button (click)="nextPage()" *ngIf="currentPage < totalPages" class="page-button" >Next »</button>
  </div>

  <div *ngFor="#group of searchResults.groups">
    <div style="clear:both;"></div>
    <br>
    <hr style="width:100%;"/>
    <div *ngIf="showGroup" class="section-header">{{group.name}}</div>
    <p>
    <div id="singleimage" *ngFor="#item of group.items; #imageIndex = index">
        <div id="thumbnail">
            <a [routerLink]="['Slide', slideSearchLinkParameters(item, imageIndex, group.resultIndex)]">
                <img src="{{item.thumbUrl}}">
                <span *ngIf="item.warnings != udefined" class="numberCircle">{{item.warnings.length}}</span>
            </a>
        </div>
        <table class="imageListInfoTable">
            <colgroup>
                <col id="leftCol"/>
                <col id="rightCol"/>
            </colgroup>
            <tr>
                <td> {{item.imageName}} </td>
                <td>
                    <a [routerLink]="['ByLocation', { id:item.id, lat:item.latitude, lon:item.longitude }]">
                        {{item.city}}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a [routerLink]="['ByDay', { m:itemMonth(item), d:itemDay(item) }]">
                        {{item.createdDate | DateStringToLocaleDatePipe:'dateOnly' }}
                    </a>
                </td>
                <td> {{item.keywords}} </td>
            </tr>
            <tr *ngIf="showDistance">
                <td colspan="2">
                    <figcaption *ngIf="item.distancekm == 0"> Same location</figcaption>
                    <figcaption *ngIf="item.distancekm > 0 && item.distancekm < 1.0"> Distance: {{(item.distancekm * 1000).toFixed(0)}} meters</figcaption>
                    <figcaption *ngIf="item.distancekm >= 1.0"> Distance: {{item.distancekm.toFixed(2)}} KM</figcaption>
                </td>
            </tr>
        </table>
    </div>
  </div>

  <br>
  <div style="clear:both;"></div>
  <div id="paging" *ngIf="totalPages > 1" >
      <button (click)="previousPage()" *ngIf="currentPage > 1" class="page-button" >« Prev</button>
      Page {{currentPage}} of {{totalPages}}
      <button (click)="nextPage()" *ngIf="currentPage < totalPages" class="page-button" >Next »</button>
  </div>
</div>
<br>
