a{color: white;}
a:visited{
    color:white;
}
.selected {
  background-color: #CFD8DC !important;
  color: #000;
}
#singleimage{
    float:left;
    margin-top:4px;
    margin-right:4px;
    text-align:center;
    background: #282828;
}
#nearbyimage{
    display:inline;
    margin-top:4px;
    margin-right:4px;
    text-align:center;
    background: #282828;
}
.imageListInfoTable {
    width: 100%;
}
.imageListInfoTable tr{
    padding: 0px;
}
.imageListInfoTable td:first-child {
    text-align: left;
    padding: 0px 5px 0px 3px;
}
.imageListInfoTable td:first-child + td {
    text-align: right;
    padding: 0px 3px 0px 5px;
}
.slideshow-extra_title {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
    color: #FFF;
}
.result-set-info-text-left {
	color:white;
	text-align: left;
	padding:0 0 0 3px;
    margin-left: 10px;
}
.result-set-info-text-right {
	color:white;
	text-align: right;
	margin:0 0 0 10px;
	padding:0 3px 0 0;
}
