<ul class="c-nav c-nav--inline">
    <li class="c-nav__item" (click)="home()" ><i class="fa fa-home"></i> Back to search </li>
    <li class="c-nav__item" (click)="searchNearby()" ><i class="fa fa-location-arrow"></i> Nearby</li>
    <li class="c-nav__item" (click)="searchToday()" ><i class="fa fa-calendar"></i> On this day</li>
    <li class="c-nav__item c-nav__item--right" ><i class="fa fa-info"></i></li>
</ul>


<div *ngIf="slideInfo == null && error == null">
    Loading the slide...
</div>

<div class="c-alerts" *ngIf="error != undefined">
    <br>
    <div class="c-alerts__alert c-alerts__alert--error">
        {{error}}
    </div>
</div>

<div *ngIf="slideInfo != null">
    <div class="o-container o-container--xsmall">
        <div class="c-pagination">
          <div class="c-pagination__controls c-pagination__controls--backward">
            <button class="c-pagination__control" (click)="firstSlide()" *ngIf="slideIndex > 1"><i class="fa fa-fast-backward"></i></button>
            <button class="c-pagination__control" (click)="previousSlide()" *ngIf="slideIndex > 1"><i class="fa fa-chevron-left"></i></button>
          </div>
            <div style="display:inline;">
                {{slideIndex}} of {{totalSearchMatches}}
            </div>
          <div class="c-pagination__controls c-pagination__controls--forward">
            <button class="c-pagination__control" (click)="nextSlide()" *ngIf="slideIndex < totalSearchMatches"><i class="fa fa-chevron-right"></i></button>
            <button class="c-pagination__control" (click)="lastSlide()" *ngIf="slideIndex < totalSearchMatches"><i class="fa fa-fast-forward"></i></button>
          </div>
        </div>
    </div>
    <p>

    <div style="text-align:center;margin: 0 auto;">
        <div *ngIf="slideInfo.mediaType == 'image'" >
            <a href="{{slideInfo.mediaUrl}}">
                <img class="o-image" src="{{slideInfo.slideUrl}}" />
            </a>
        </div>
        <div *ngIf="slideInfo.mediaType == 'video'" >
            <video controls autoplay src="{{slideInfo.mediaUrl}}" poster="{{slideInfo.slideUrl}}" >
            </video>
        </div>

        <div class="o-grid">
            <div class="result-set-info-text-left o-grid__cell c-text">
                <i class="fa fa-file"></i> {{slideInfo.imageName}}
            </div>
            <div class="result-set-info-text-left o-grid__cell c-text">
                <i class="fa fa-tags"></i> {{slideInfo.keywords}}
            </div>
        </div>

        <div class="o-grid">
            <div class="result-set-info-text-left o-grid__cell c-text">
                <i class="fa fa-folder"></i> {{slideInfo.path}}
            </div>
            <div class="result-set-info-text-left o-grid__cell c-text">
                <a [routerLink]="['ByLocation', { lat:slideInfo.latitude, lon:slideInfo.longitude }]">
                    <i class="fa fa-map-marker"></i> {{slideInfo.locationName}}
                </a>
            </div>
        </div>

        <div class="o-grid">
            <div class="result-set-info-text-left o-grid__cell c-text">
                <a [routerLink]="['ByDay', { m:itemMonth(slideInfo), d:itemDay(slideInfo) }]">
                    <i class="fa fa-calendar"></i> {{getItemLocaleDateAndTime(slideInfo)}}
                </a>
            </div>
            <div class="result-set-info-text-left o-grid__cell c-text">
                <a href="http://maps.google.com/maps?q={{slideInfo.latitude}},{{slideInfo.longitude}}">
                    <i class="fa fa-map"></i> {{latDms(slideInfo)}}, {{lonDms(slideInfo)}}
                </a>
            </div>
        </div>
    </div>

    <div *ngIf="slideInfo.warnings != undefined">
        <br>
        <div class="c-card c-card--secondary">
            <div class="c-card__content c-card__content--divider">Warnings</div>
            <div class="c-card__content c-alerts__alert--secondary" *ngFor="let warning of slideInfo.warnings">{{warning}}</div>
        </div>
    </div>


    <div class="o-container o-container--xsmall">
        <div class="c-pagination">
          <div class="c-pagination__controls c-pagination__controls--backward">
            <button class="c-pagination__control" (click)="firstSlide()" *ngIf="slideIndex > 1"><i class="fa fa-fast-backward"></i></button>
            <button class="c-pagination__control" (click)="previousSlide()" *ngIf="slideIndex > 1"><i class="fa fa-chevron-left"></i></button>
          </div>
            <div style="display:inline;">
                {{slideIndex}} of {{totalSearchMatches}}
            </div>
          <div class="c-pagination__controls c-pagination__controls--forward">
            <button class="c-pagination__control" (click)="nextSlide()" *ngIf="slideIndex < totalSearchMatches"><i class="fa fa-chevron-right"></i></button>
            <button class="c-pagination__control" (click)="lastSlide()" *ngIf="slideIndex < totalSearchMatches"><i class="fa fa-fast-forward"></i></button>
          </div>
        </div>
    </div>

    <br *ngIf="nearbyResults != null || sameDateResults != null">

    <center>
        <span *ngIf="nearbyResults != null" >
            <hr>
            <div class="slideshow-extra_title">Nearby items</div>
            <figure style="display:inline-block;" *ngFor="let item of nearbyResults">
                <div id="thumbnail">
                    <a [routerLink]="['ByLocation', { lat:item.latitude, lon:item.longitude }]">
                        <img src="{{item.thumbUrl}}">
                    </a>
                </div>

                <figcaption *ngIf="item.distancekm == 0"> Same location</figcaption>
                <figcaption *ngIf="item.distancekm > 0 && item.distancekm < 1.0"> Distance: {{(item.distancekm * 1000).toFixed(0)}} meters</figcaption>
                <figcaption *ngIf="item.distancekm >= 1.0"> Distance: {{item.distancekm.toFixed(2)}} KM</figcaption>
            </figure>
        </span>

        <div *ngIf="nearbyError != null" >
            <br>
            <h2 class="server-error">{{nearbyError}}</h2>
        </div>

        <span *ngIf="sameDateResults != null" >
            <hr>
            <div class="slideshow-extra_title">Items with the same month & day</div>
            <figure style="display:inline-block;" *ngFor="let item of sameDateResults">
                <div id="thumbnail">
                    <a [routerLink]="['ByDay', { m:itemMonth(item), d:itemDay(item) }]">
                        <img src="{{item.thumbUrl}}">
                    </a>
                </div>

                <figcaption> {{item.city}} ({{itemYear(item)}}) </figcaption>
            </figure>
        </span>

        <div *ngIf="sameDateError != null" >
            <br>
            <h2 class="server-error">{{sameDateError}}</h2>
        </div>
    </center>

</div>
