<div *ngIf="slideInfo == null && error == null">
    <a [routerLink]="['Search', {q:searchRequest.searchText, p:searchPage}]"> Back to search </a>
    Loading the slide...
</div>

<div *ngIf="slideInfo != null">
    <button (click)="previousSlide()" *ngIf="slideIndex > 1"  >« Prev</button>
    {{slideIndex}} of {{totalSearchMatches}}
    <button (click)="nextSlide()" *ngIf="slideIndex < totalSearchMatches" >Next »</button>
    <p><p>
    <a [routerLink]="['Search', {q:searchRequest.searchText, p:searchPage}]"> Back to search </a>

    <center>
        <div *ngIf="slideInfo.mediaType == 'image'" >
            <a href="{{slideInfo.mediaUrl}}">
                <img src="{{slideInfo.slideUrl}}" />
            </a>
        </div>
        <div *ngIf="slideInfo.mediaType == 'video'" >
            <video controls autoplay src="{{slideInfo.mediaUrl}}" poster="{{slideInfo.slideUrl}}" >
            </video>
        </div>

        <table id="slideInfo" cellspacing=5 >
            <tr>
                <td class="tdright">Name:</td>      <td class="tdleft">{{slideInfo.imageName}}</td>
                <td class="tdright">Keywords:</td>  <td class="tdleft">{{slideInfo.keywords}}</td>
            </tr>

            <tr>
                <td class="tdright">Path:</td>      <td class="tdleft">{{slideInfo.path}}</td>
                <td class="tdright">Location: </td> <td class="tdleft">{{slideInfo.locationName}}</td>
            </tr>

            <tr>
                <td class="tdright">Date:</td>      <td class="tdleft">
                    <a [routerLink]="['ByDay', { m:itemMonth(slideInfo), d:itemDay(slideInfo) }]">
                        {{slideInfo.createdDate | DateStringToLocaleDatePipe }}
                    </a>
                </td>
                <td class="tdright">Geo: </td> <td *ngIf="hasLocation() == true" class="tdleft">
                    <a href="http://maps.google.com/maps?q={{slideInfo.latitude}},{{slideInfo.longitude}}">
                        <h3>
                        <pre>{{latDms()}}, {{lonDms()}}</pre>
                        </h3>
                    </a>
                </td>
            </tr>
        </table>

        <span *ngIf="nearbyResults != null" >
            <figure style="display:inline-block;" *ngFor="#item of nearbyResults">
                <div id="thumbnail">
                    <a [routerLink]="['ByLocation', { lat:item.latitude, lon:item.longitude }]">
                        <img src="{{item.thumbUrl}}">
                    </a>
                </div>

                <figcaption *ngIf="item.distancekm == 0"> Same location</figcaption>
                <figcaption *ngIf="item.distancekm > 0 && item.distancekm < 1.0"> Distance: {{(item.distancekm * 1000).toFixed(0)}} meters</figcaption>
                <figcaption *ngIf="item.distancekm >= 1.0"> Distance: {{item.distancekm.toFixed(2)}} KM</figcaption>
            </figure>
        </span>

        <div *ngIf="nearbyError != null" >
            <br>
            <h2 class="server-error">{{nearbyError}}</h2>
        </div>


    </center>

    <div *ngIf="slideInfo.warnings != undefined">
        <ol>
            <li *ngFor="#warning of slideInfo.warnings">{{warning}}</li>
        </ol>
    </div>

</div>

<div *ngIf="error != null">
    <a [routerLink]="['Search', {q:searchRequest.searchText, p:searchPage}]"> Back to search </a><br>
    {{error}}
</div>
