<h3 class="field-panel" *ngIf="!showField()" (click)="toggleField()" >
    <div > {{nameDisplay()}} <i class="fa fa-caret-right filter-toggle-glyph"></i> </div>
</h3>
<div class="field-panel" *ngIf="showField()" >
    <h3 (click)="toggleField()"> {{nameDisplay()}} <i class="fa fa-caret-down filter-toggle-glyph"></i> </h3>
    <div *ngIf="fieldAndCounts()">
        <div class="fieldValueInfo" *ngFor="let fv of fieldAndCounts()">
            {{fv.value}} ({{fv.count}})
        </div>
    </div>
</div>
