.box {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
}

.content-container {
  display: flex;
  flex: 1;
  position:relative;
}

.map-content {
  flex: 1;
}


.info-container {
	position:absolute; 
	top:0;
	left:0;
	width: 200pt;
  max-width: 50%;
	min-height: 200pt;
	background: rgba(255,255,255,.4); 
	z-index:500;
  pointer-events: none;
  color: black;
}

.info-image {
  display: block;
  margin: 0 auto;
  max-width:100%;
  max-height:50%;
}

.info-text {
  padding-top: 1px;
  padding-left: 3px;
  line-height: 1.3;
}
