<div class="box">
    <header>
        <app-header></app-header>
    </header>

    <header>
        <app-alerts></app-alerts>

        <div >
            <button *ngIf="searchBarVisible" class="c-button c-button--rounded c-button--ghost-success u-small" (click)="toggleSearchBar()">
                <i class="fa fa-search fa-1x"></i>
            </button>
            <button *ngIf="!searchBarVisible" class="c-button c-button--rounded c-button--ghost-info u-small" (click)="toggleSearchBar()">
                <i class="fa fa-search fa-1x"></i>
            </button>
            <button class="c-button c-button--rounded c-button--ghost-info u-small" (click)="fitBounds()">
                Fit map
            </button>
            <button class="c-button c-button--rounded c-button--ghost-info u-small" (click)="nearby()">
                <i class="fa fa-location-arrow fa-1x"></i>
            </button>
            <button *ngIf="!choosingLocation" class="c-button c-button--rounded c-button--ghost-info u-small" (click)="chooseLocation()">
                Choose <i class="fa fa-location-arrow fa-1x"></i>
            </button>
            <button *ngIf="choosingLocation" class="c-button c-button--rounded c-button--ghost-success u-small" (click)="endChooseLocation()">
                End choose
            </button>
            <select *ngIf="!isLoading && allRoutes.size > 0" (change)="selectRoute($event.target.value)" >
                <option value="" > &lt; No route selected &gt; </option>
                <option *ngFor="let k of routeKeys"> {{k}} </option>
            </select>
        </div>


        <div *ngIf="pageError" style="margin-left:10px;" >
            {{pageError}}
        </div>
        <div *ngIf="isLoading && !pageError && !choosingLocation" >
            <div style="float:left; margin-left:10px; margin-right:10px;" >
                Loading {{totalMatches}} items:
            </div>
            <div class="c-progress x-medium">
                <div class="c-progress__bar c-progress__bar--info c-progress--rounded" [style.width]="percentageLoadedWidth"></div>
            </div>
        </div>
        <div *ngIf="!searchBarVisible && !isLoading && !choosingLocation" style="margin-left:10px;" >
            <div *ngIf="searchResultsProvider.searchResults">
                {{totalMatches}} total matches {{readableSearchString}}
            </div>
            <div *ngIf="!searchResultsProvider.searchResults">
                <br>
            </div>
        </div>
        <div *ngIf="searchBarVisible">
            <form>
                <div class="o-container o-container--large" >
                    <div class="c-input-group">
                        <div class="o-field">
                            <input class="c-field" type="text" autofocus [(ngModel)]="searchResultsProvider.searchRequest.searchText" [ngModelOptions]="{standalone: true}" >
                        </div>
                        <button class="c-button c-button--info" type="submit" (click)="searchWithText()" >Search</button>
                    </div>
                </div>
            </form>
        </div>
    </header>


    <div class="content-container">
        <main class="map-content" id="map" >
        </main>

        <div *ngIf="currentItem" class="info-container" >
            <a [routerLink]="['/singleitem']" [queryParams]="singleItemSearchLinkParameters(currentItem, currentIndex)">
                <img class="info-image" src="{{currentItem.thumbUrl}}" >
            </a>

            <div class="info-text-container">
                <button class="c-button c-button--close info-close-button" (click)="closeImage()" >×</button>
                <div class="c-paragraph info-text"> <i class="fa fa-file"></i> {{currentItem.imageName}} </div>
                <div class="c-paragraph info-text"> <i class="fa fa-calendar"></i> {{displayer.getItemLocaleDateAndTime(currentItem)}} </div>
                <div class="c-paragraph info-text">
                    <a style="pointer-events:auto" href="http://maps.google.com/maps/place?t=h&z=18&q={{currentItem.latitude}},{{currentItem.longitude}}&ll={{currentItem.latitude}},{{currentItem.longitude}}">
                         <i class="fa fa-map-marker"></i> {{currentItem.locationDisplayName}} 
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>
