<div class="box">
    <div class="row header">
        <app-header></app-header>
    </div>


    <div class="row content" id="map-container"  >
        <app-alerts></app-alerts>

        <div >
            <button class="c-button c-button--rounded c-button--ghost-info u-small" (click)="fitBounds()">Fit map</button>
        </div>


        <div *ngIf="isLoading" >
            <div style="float:left; margin-left:10px; margin-right:10px;" >
                Loading {{totalMatches}} items:
            </div>
            <div class="c-progress x-medium">
                <div class="c-progress__bar c-progress__bar--info c-progress--rounded" [style.width]="percentageLoadedWidth"></div>
            </div>
        </div>
        <div *ngIf="!isLoading" style="margin-left:10px;" >
            {{totalMatches}} total matches
        </div>

        <div class="map-container" id="map" >
        </div>
    </div>

    <!-- <div class="row footer">

    </div> -->

</div>
