.box {
  display: flex;
  /*flex-flow: column;*/
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
}

.box .row {
  border: 1px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  position: relative;
  flex: 1 1 auto;
  height:100%;
  width:100%;
}

.box .row.footer {
  flex: 0 1 auto;
}

.map-box {
    /*position: relative;*/
    display: block;
    height:100%;
    width:100%;
    /*display: flex;
    flex-flow: row;*/
}

/*.map-container {
    flex: 1 1 auto;
    height:100%;
    width:100%;
}*/

.info-container {
  height:100%;
  flex: 0 1;
  padding: 5px;
}

.info-no-item {
  width:255px;
  display:block;
}

.info-image {
  width:255px;
  display:block;
}
