.drop-down-menu-container {
    position: relative;
    display: inline-block;
    top: 2.7em;
    right: -3em;
    float: right;   /* Seems to be necessary on Chrome. Which likely means I'm doing something else wrong.  */
}

.drop-down-menu {
    background-color: #000000;
    right: 0;
    display: block;
    position: absolute;
    min-width: 160px;
    z-index: 10000;
}

@media (max-width: 420px){
    .navigation-item {
        padding: 0 0 0 7px;
    }
}