<ul class="c-nav c-nav--inline">
    <li class="c-nav__item navigation-item" (click)="navigationProvider.home()" ><i class="fa fa-home"></i> Home </li>
    <li class="c-nav__item navigation-item" (click)="navigationProvider.searchNearby()" ><i class="fa fa-location-arrow"></i> Nearby</li>
    <li class="c-nav__item navigation-item" (click)="navigationProvider.searchToday()" ><i class="fa fa-calendar"></i> On this day</li>
    <li class="c-nav__item navigation-item" (click)="navigationProvider.searchMap()" ><i class="fa fa-map"></i> Map</li>

    <li *ngIf="!menuOpen" class="c-nav__item c-nav__item--right" (click)="toggleMenu()" ><i class="fa fa-align-justify fa-lg"></i></li>
    <li *ngIf="menuOpen" class="c-nav__item c-nav__item--right" (click)="toggleMenu()" ><i class="fa fa-close fa-lg"></i></li>

    <div *ngIf="menuOpen" class="drop-down-menu-container" (window:mouseup)="autoCloseForDropdownMenu($event)">
        <ul class="c-card c-card--menu drop-down-menu">
            <li class="c-card__item c-card__item--brand u-bg-grey u-color-black" (click)="navigationProvider.fieldValues()">
                <i class="fa fa-map-signs fa-fw"></i> Field values
            </li>
            <li class="c-card__item c-card__item--brand u-bg-grey u-color-black" (click)="navigationProvider.info()"> 
                <i class="fa fa-info fa-fw"></i> Info
            </li>
        </ul>
    </div>
</ul>
